{% extends 'homebase.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <main id="legalMentions">
        <h2>mentions légales</h2>
        <section id="coordinates">
            <h3>Informations et coordonnées</h3>
            <p>ADN - Au-delà des Normes</p><br>
            <p>12 Cour Fénelon</p><br>
            <p>24000 Périgueux</p><br>
            <p>Tél. : 06 66 66 66 66</p>
            <ul>
                <li>Association loi 1901</li>
                <li>SIRET</li>
                <li>Association déclarée en préfecture de Périgueux le xx/xx/2021</li>
            </ul>
        </section>
        <section id="website">
            <article id="hosting">
                <h3>Hébergement du site internet</h3>
                <p>Ce site est hébergé chez O2Switch</p>
            </article>
            <article id="conception">
                <h3>Design graphique et conception du site internet</h3>
                <p><strong>Aloïs Patoor</strong>, développeur web</p>
                <p><a href="https://alois-patoor.fr">https://alois-patoor.fr</a></p>
            </article>
        </section>
        <section id="laws">
            <h3>Droit applicable en cas de litige</h3>
            <p>Le présent site est soumis au droit Français.</p>
        </section>
    </main>
{% endblock %}
