{% extends 'homebase.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <main id="legalMentions">
        <h2>mentions légales</h2>
        <section id="coordinates">
            <h3>Informations et coordonnées</h3>
            <p>ADN - Au-Delà des Normes</p>
            <p>12 Cours Fénelon</p>
            <p>BaL n°134</p>
            <p>24000 Périgueux</p>
            <ul>
                <li>Association loi 1901</li>
                <li>RNA : W243009239</li>
                <li>SIRET : 904 252 400 00018</li>
                <li>Association déclarée en préfecture de Périgueux le 13/09/2021</li>
            </ul>
        </section>
        <section id="website">
            <article id="hosting">
                <h3>Hébergement du site internet</h3>
                <p>Ce site est hébergé chez <a href="https://www.gandi.net/fr">Gandi.net</a></p>
            </article>
            <article id="conception">
                <h3>Design graphique et conception du site internet</h3>
                <p><strong>Aloïs Patoor</strong>, développeur web</p>
                <p><a href="https://alois-patoor.ovh">https://alois-patoor.ovh</a></p>
            </article>
        </section>
        <section id="laws">
            <h3>Droit applicable en cas de litige</h3>
            <p>Le présent site est soumis au droit Français.</p>
        </section>
    </main>
{% endblock %}
