{% extends 'homebase.html.twig' %}

{% block title %}A propos d'ADN{% endblock %}

{% block body %}
    <main id="about">
        <section id="aboutFirstText">
            <article>
                <h2>qui sommes-nous</h2>
                <p>Nous sommes une association <strong>LGBTQIA+ (Lesbiennes, Gays, Bi-e-s, Trans, Queer, Intersexe, Asexuel-le-s), féministe, mixte, militante</strong> et apartisane sur tout le territoire de la <strong>Dordogne</strong>. Nous sommes basé à Périgueux mais intervenons sur tout le département.  </p>
                <p>Nous nous sommes créés en septembre 2021 avec le statut Association Loi 1901.
                <p>Nous insistons sur le fait que nous soyons mixte. 
                En effet, nous avons souhaité créer un espace où <strong>personnes concernées et non-concernées</strong> se sentent à l'aise et en sécurité tous-tes ensemble. </p>
                <p>Notre organisation est <strong>collégiale et horizontale</strong>, c'est-à-dire que nous n'avons pas de président-e.
                Nous fonctionnons minimum en binômes sur nos <strong>différents pôles</strong>, binômes qui ont pour vocation
                de tourner au fil du temps.</p>
                <p>Si vous souhaitez adhérer, sachez que <strong>notre adhésion est à prix libre</strong>, selon vos moyens. Et ça se passe <a href="#buttonsOnTheBottom">ici</a> !</p>
            </article>
        </section>
        <section id="missions">
            <h2>nos missions</h2>
            <div class="flexbox">
                <article class="selected-div">
                    <p class="icons"><i class="fas fa-hands-helping"></i></p>
                    <p><strong>Soutenir</strong> les personnes LGBTQIA+ et les accompagner dans leurs questionnements.</p>
                    <p><strong>Ester en justice</strong> si besoin</p>
                </article>
                <article class="selected-div">
                    <p class="icons"><i class="fas fa-graduation-cap"></i></p>
                    <p><strong>Former et sensibiliser</strong> nos adhérent.e.s sur les questions LGBTQIA+ et le vocabulaire.</p>
                    <p>Sensibiliser les <strong>établissements scolaires</strong>, les <strong>entreprises</strong> ou les <strong>institutions</strong> qui le souhaitent.</p>
                </article>
                <article class="selected-div">
                    <p class="icons"><i class="fas fa-fist-raised"></i></p>
                    <p><strong>Défendre nos droits</strong>, nos acquis, toujours en danger, et <strong>conquérir de nouveaux droits</strong>.</p>
                    <p><strong>Promouvoir</strong> localement le combat pour nos droits à travers des actions, débats, etc...</p>
                </article>
            </div>
        </section>
        <section id="story">
            <h2>genèse</h2>
            <article class="selected-div textAndPicture">
                <div class="boxSizing">
                    <img src="{{ asset('images/membres.webp') }}" alt="Photo de quelques membres de l'association ADN">
                </div>
                <p>Suite au visionnage du film "Pride" à la suite de la manifestation contre les idées d'extrême-droite en juin 2021, un groupe de personne s'est rassemblé dans l'idée de créer <strong>une nouvelle association LGBTQIA+</strong>. Tout l'été 2021 a été rythmé de différentes réunions et groupes de travail afin de structurer les statuts et les missions que nous voulions accomplir au sein de cette association</p>
            </article>
            <article class="selected-div text">
                <p>C'est en Septembre 2021 que les statuts ont pu être déposé en préfecture. S'en est suivi ensuite quelques actions ponctuelles telle qu'un rassemblement pour <strong><a href="https://fr.wikipedia.org/wiki/Journ%C3%A9e_de_la_bisexualit%C3%A9" target="_blank">la journée de la bi/pansexualité</a></strong> et une marche au flambeau pour le <strong><a href="https://fr.wikipedia.org/wiki/Journ%C3%A9e_du_souvenir_trans" target="_blank">Trans Day of Remembrance</a></strong>.</p>
                <p>Nos permanences d'écoute et d'accueil ont commencé en janvier 2022, après une présentation publique le 15 décembre 2021</p>
            </article>
        </section>
        <section id="buttonsOnTheBottom">
            <article class="firstButton">
                <a href="/contact" class="button-large">Nous Contacter</a>
            </article>
            <article class="secondButton">
            <a href="https://www.helloasso.com/associations/au-dela-des-normes/adhesions/adhesion" class="button-large" target="_blank">Adhérer</a>
            </article>
        </section>
    </main>
{% endblock %}
