{% extends 'homebase.html.twig' %}

{% block title %}Nos Rendez-vous{% endblock %}

{% block body %}
    <section id="calendar">
        {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_booking_new') }}" class="button">Create new booking</a>
        {% endif %}

        <div id="calendar-holder">
            {% for booking in bookings %}
            <p>{{ booking.title }}</p>
            {% endfor %}
        </div>

        <a href="/login">Se connecter</a>
    </section>
{% endblock %}
