{% extends 'homebase.html.twig' %}

{% block title %}Nos Statuts{% endblock %}

{% block body %}
    <main id="statusMain">
        <section id="statusArticles">
            <div id="titleStatus">
                <h2>Statuts de l'Association Au-Delà des Normes</h2>
                <p>Conformément à la loi du 1er juillet 1901 et du décret du 16 août 1901.</p>
            </div>
            <article>
                <p>Version du 29/01/2022</p>
                <h3>Article 1 : Constitution - Objet.</h3>
                <p>Il est formé, entre les soussigné-e-s, ainsi que les personnes physiques qui adhèrent aux présents statuts, une association déclarée, régie par la loi de 1901, et qui a pour objet :
                    <ul>
                        <li>De lutter contre toute forme d'exclusion, de discrimination ou de violence à l'encontre d'individus ou de groupes en raison de leur orientation sexuelle, de leur identité de genre réelles ou supposées et/ou de leur intersexuation. Elle participe donc aux luttes contre la LGBTQIA+phobie et aux luttes féministes ;</li>
                        <li>De participer à toute action d'information, de sensibilisation ou de formation ;</li>
                        <li>D'ester en justice si la mise en oeuvre de son objet le justifie ou s'il est porté atteinte à l'intégrité physique et/ou morale d'une personne qu'elle soit membre ou non ;</li>
                        <li>D'interpeler et/ou de travailler avec les pouvoirs publics, les institutions et les élu-e-s, lorsque l'association le juge nécessaire ;</li>
                        <li>De contribuer à la visibilité du mouvement LGBTQIA+, notamment en se laissant la possiblité de participer à des actions conjointes ou non avec d'autres entités ;</li>
                    </ul>
                </p>
                <p>L'association est laïque et doit veiller à rester apartisane.</p>
                <p>Elle ne doit pas être représentée par une personne ayant un mandat électoral et institutionnel en cours.</p>
            </article>
            <a href="{{ asset('documents/statuts.pdf') }}" target="_blank" class="button">Lire +</a>
        </section>
    </main>
{% endblock %}
