{% extends 'homebase.html.twig' %}

{% block title %}Nos Statuts{% endblock %}

{% block body %}
    <main id="statusMain">
        <section id="statusArticles">
            <div id="titleStatus">
                <h2>Statuts de l'Association ADN - Au-Delà des Normes</h2>
                <p>Conformément à la loi du 1er juillet 1901 et du décret du 16 août 1901.</p>
            </div>
            <article>
                <p>Version du 14/01/2023</p>
                <h3>Article 1 : Constitution - Objet.</h3>
                <p>l est formé, entre les soussigné·e·s, ainsi que les personnes physiques qui adhèrent aux présents statuts, une association déclarée, régie par la loi de 1901, et qui a pour objet :
                    <ul>
                        <li>-De lutter contre toute forme d’exclusion, de discrimination ou de violence à l’encontre d’individus ou de
                            groupes en raison de leur orientation sexuelle, de leur identité de genre réelles ou supposées et/ou de leur
                            intersexuation. Elle participe donc aux luttes contre les LGBTQIA+phobies et aux luttes féministes.</li>
                    </ul>
                </p>
                <p>L’association est intersectionnelle, laïque et doit veiller à rester apartisane.</p>
                <p>Elle ne doit pas être représentée par une personne ayant un mandat électif.</p>
            </article>
            <a href="{{ asset('documents/statuts.pdf') }}" target="_blank" class="button">Lire +</a>
        </section>
    </main>
{% endblock %}
