{% extends 'adminbase.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main id="superAdmin">
    {{ include('super_admin/sidebar.html.twig')}}
    <section>
        <h1>Votre espace Admin</h1>
        <h2>Articles</h2>
    </section>
</main>
{% endblock %}
