{% extends 'adminbase.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main id="superAdmin">
    {{ include('super_admin/sidebar.html.twig')}}
    <section id="adminArticles">
        <h1>Votre espace Admin</h1>
        <h2>Articles</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Titre</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>
                        <a href="">Voir</a>
                        <a href="">Modifier</a>
                        <form action="{{ url('app_super_admin_article_delete', { id: article.id }) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-article') }}"/>
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Pas d'article trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
