<aside>
    <ul>
        <li><a href="{{ path('app_super_admin_users') }}">Utilisateur-rices</a></li>
        <li><a href="{{ path('app_super_admin_articles') }}">Articles</a></li>
        <li><a href="{{ path('app_super_admin_comments') }}">Commentaires</a></li>
        <li><a href="/">Retourner sur le site</a></li>
    </ul>
</aside>