{% extends 'homebase.html.twig' %}

{% block title %}Modifier l'événement{% endblock %}

{% block body %}
    <section class="booking">
        <h2>Modifier l'événement</h2>

            {{ include('booking/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="button-container">
            <a href="{{ path('app_booking_index') }}">Retour à la liste</a>
            {{ include('booking/_delete_form.html.twig') }}
        </div>
    </section>

{% endblock %}
