{% extends 'homebase.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <section class="booking">
        <h1>Ajouter un nouvel événement</h1>

        {{ include('booking/_form.html.twig') }}

        <a href="{{ path('app_booking_index') }}">Retour</a>
    </section>
{% endblock %}
