#aboutFirstText{
    article{
        margin-bottom: 5em;
        h2{
            margin: 2em;
        }
        p{
            margin: 2em 10em;
        }
        a{
            font-weight:bolder;
            transition: .3s ease;
        }
    }
}
#missions{
    background-image: url(../../public/images/thetards2.webp);
    background-position: center;
    background-size: cover;
    @include flex($dir:column);
    h2{
        display:inline-block;
        margin-top: 3em;
        padding: 1em 5em;
        @include glass;
    }
    .flexbox{
        @include flex ($just:space-around);
        gap: 2em;
        padding: 5em;
        article{
            @include flex($dir:column);
            padding: 10em 2em;
            text-align: center;
            height: 30em;
            @include glass;
        }
    }  
}
#story{
    margin: 5em;
    h2{
        margin:2em;
    }
    .textAndPicture{
        @include flex($just:space-around);
        margin: 2em;
        p{
            padding-left: 5em;
        }
        img{
            object-fit: contain;
            width:30em;
        }
    }
}
#buttonsOnTheBottom{
    @include flex($just:space-evenly);
    article{
        @include flex;
        height: 60vh;
    }
    .firstButton{
        background-image: url(../../public/images/enveloppes_resultat.webp);
        background-position:center;
        background-size: cover;
        width: 100%;
    }
    .secondButton{
        background-image: url(../../public/images/hands_in_the_air_resultat.webp);
        background-position:bottom;
        background-size: cover;
        width: 100%;
    }
}