#articlesList{
    @include flex($dir : column);
    padding: 2em 0;
    gap: 3em;
    background-image: url(../../public/images/pancarte.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        @include flex($dir : column);
        padding: 3em;
        @include glass;
    }
}

#createArticle{
    margin: 2em 5em;
    h2{
        margin-bottom: 2em;
    }
    .article-container{
        padding: 3em;
        border: 1px solid black;
        .form-control{
            margin-bottom: 2em;
        }
        button{
            margin-top: 2em;
        }
    }
}

#singleArticle{
    margin: 5em;
    .article-container{
        padding-bottom: 2em;
        border-bottom: 1px solid black;
    }
    .createComment{
        margin : 2em 0;
        .button-container{
            margin-top: 2em;
        }
    }
    #comments{
        padding: 2em 0;
        border-bottom: 1px solid black;
        .button-container{
            @include flex($just: flex-start);
        }
        #user-avatar{
            width: 20%;
            img{
                width:100%;
                object-fit: cover;
            }
        }
    }
    nav{
        .button-container{
            gap: 2%;
        }
    }
}