#blogNav{
    @include flex;
    background-color: $darkergrey;
    height: 4em;
    text-align: center;
    ul{
        @include flex;
        gap: 2em;
        a{
            color: white;
            text-transform: uppercase;
            position: relative;
            &.special-anim{
                color: white;
            }
            
            &.special-anim:after,
            &.special-anim:before{
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: white;
                transition: all 0.3s ease;
                transform: scale(0.85);
            }
            
        
            &.special-anim:hover:before{
                top: 0;
                transform: scale(1);
            }
            
        
            &.special-anim:hover:after{
                transform: scale(1);
            }
            
        }
    }
    
}