#calendar{
    margin: 2em;
    @include flex($just : space-evenly);
    .button-container{
        @include flex($just : space-around);
        gap: 2em;
        padding: 3em;
    }
    #calendrier{
        width: 40vw; 
    }
    .date-container{
        @include glass;
        width: 50%;
        padding: 2em;
        p{
            position:relative;
            padding-bottom: 1em;
        }
    }
    .date-container p::after{
        content: '';
        display: block;
        position: absolute;
        background-color: black;
        height: 1px;
        bottom: -0.5em;
        width: 70%;
    }
}

.button-container{
    margin: 2em 0;
    @include flex;
}

.booking{
    margin: 3em;
    .button-container{
        @include flex;
        gap: 2em;
        padding: 3em;
    }
    h2{
        margin-bottom: 3em;
    }
    table{
        margin: 0 auto;
    }
    .booking-form{
        margin: 0 5em;
        .form-control, .form-group, .form-check{
            margin: .5em 0;
        }
    }
}