#CGU{
    padding: 5em 10em;
    section{
        margin-bottom: 2em;
        ul li{
            list-style-type: disc;
            margin-left: 2em;
            margin-bottom: 0.8em;
        }
    }
}