#titleContact{
    text-align:center;
    margin: 5em;
    h2{
        padding-bottom: 2em;
    }
}
#globalContact{
    height: 100vh;
    background-image: url(../../public/images/Holi-Color-Background-PNG-Picture_resultat.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex($just:space-evenly, $align:flex-start);
    padding-top: 3rem;
    article{
        @include glass;
        padding: 3em;
        width: 30vw;
        .button-container{
            @include flex;
        }
        p{
            margin-bottom: 1em;
            font-size: 1.2em;
        }
        form{
            width: 100%;
        }
        .formLines{
            @include flex($just:space-between, $dir:column);
            margin-bottom: 2em;
            .form-control{
                @include flex($just:space-between);
                label{
                    margin-right: 2em;
                }
                input{
                    font-family: firaSans_regular;
                    height: 2em;
                    width: 20rem;
                    border: none;
                }
                textarea{
                    font-family: firaSans_regular;
                    border: none;
                    min-height:10em;
                    max-height: 10em;
                    width: 20rem;
                    max-width: 20rem;
                }
            }
        }
    }
}