#sectionAbout{
    height: 60vh;
    @include flex;
    article{
        @include flex($dir:column);
        padding: 2em;
        @include glass;
        h2{
            padding-bottom: 2em;
        }
        .button{
            margin-top : 2em;
        }
    }
}

#sectionPartners{
    position: relative;
    color: white;
    background: $darkergrey;
    padding: 5em 10em;
    @include flex;
    .button-container{
        @include flex;
    }
    article{
        padding: 5em;
        h2{
            text-align: left;
            margin-bottom: 2em;
            color: white;
        }
        img{
            width: 100%;
        }
    }
}

#sectionBlog{
    position: relative;
    background-image: url(../../public/images/unicorn.jpeg);
    background-size: cover;
    background-position: center;
    height: 105vh;
    padding: 5em 10em;
    .flexbox{
        @include flex($dir:row);
        gap: 5em;
    }
    article:first-child{
        padding: 2em;
        width: 60em;
        @include glass;
        h2{
            text-align: right;
            margin-bottom: 1.5em;
        }
        p{
            text-align:right;
        }
    }
    .socialNetworks{
        text-align: center;
        font-size: 3em;
        padding: 1em;
        @include glass;
        @include flex;
        gap: 1em;
        i{
            padding: 0.2em;
        }
    }
    .button-container{
        @include flex;
    }

    .firstBlogArticle{
        @include glass;
        padding: 2em;
        margin: 3em;
    }
}

#sectionContact{
    height: 60vh;
    padding: 5em;
    background-image: url(../../public/images/craies.jpeg);
    background-size: cover;
    background-position: center;
    @include flex;
    article{
        @include flex($dir: column);
        gap: 2em;
        padding: 5em;
        margin: 2em 5em;
        @include glass;
    }
}

#sectionRDV{
    width: 100%;
    height: 80vh;
    @include flex ($just: space-around);
    background-image: url(../../public/images/rainbowflags.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    article{
        @include flex($dir:column);
        text-align:center;
        padding: 2% 5% 5% 5%;
        width : 30em;
        height: 30em;
        @include glass;
        h2{
            font-size: 1.2em;
            padding-bottom: 1em;
        }
        h3{
            font-size: 1em;
        }
        .button{
            margin-top : 1em;
        }
        div{
            text-align:center;
            width: 70%;
            margin-bottom: 5%;
            padding: 5% 10%;
            @include glass;
        }
    }
    #permanences{
        @include flex($dir:column);
        @include glass;
        padding: 2% 5% 5% 5%;
        height: 60vh;
        h2{
            color: white;
        }
        .subPart-permances{
            color:black;
        }  
    }
}
#clickMe{
    @include flex;
    width: 100%;
    height: 20rem;
    background-image: url(../../public/images/colored_arrow.jpg);
    background-position: center;
}
