.loginFormPage{
    background-image: url(../../public/images/tourtoirac.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    @include flex;
    .container{
        @include flex ($dir : column);
        padding: 3em;
        @include glass;
        .imgSize{
            width: 30%;
            margin-bottom: 2em;
            img{
                width:100%;
            }
        }
        h1{
            margin-bottom: 1em;
        }
        form{
            @include flex ($dir : column);
            gap: 1em;
            input{
                border: none;
            }
            .formLines{
                @include flex;
                gap: 2em;
            }
            .formPasswords{
                margin-top: 2em;
                @include flex ($dir: column);
                gap: 1.5em;
                label{
                    padding-right: 1em;
                }
            }
            .button{
                margin-top: 1em;
            }
        }
    }
}