@media screen and (max-width: 1200px){
    h2{
        font-size: 1.5em;
    }
    header .backgroundImg #title h1{
        font-size: 2em;
        margin: 1em;
    }
    #menuBurger{
        display: block;
    }

    #desktopNav{
        &.dropdown{
            display: none;
            visibility: hidden;
        }
    }


    #desktopNav{
        &.mobiledropdown{
            ul{
                @include flex($dir:column, $align:flex-start);
                margin-left: 1em;
                li{
                    font-size: 0.8em;
                }
            }
        }
    } 

    #sectionBlog{
        gap: 10em;
        height: 120vh;
        article:first-child{
            padding: 2em;
            h2{
                margin-bottom: 0.5em;
            }
            p{
                text-align:right;
            }
        }
    }

    #sectionRDV{
        height: 200vh;
        padding-top: 2em;
        padding-bottom: 2em;
        @include flex ($dir: column-reverse);
        gap: 10em;
        article, #permanences{
            width: 70%;
            height: 50em;
        }
        article h2{
            padding-bottom: 0.2em;
        }
    }
    footer{
        nav{
            @include flex ($dir:column, $just: center);
            gap: 2em;
            .footerSections{
                text-align: center;
            }
            .footerSections:last-child{
                @include flex ($align:center, $dir:column);
            }
        }
    }
    #missions{
        .flexbox{
            @include flex ($dir:column);
            padding: 2em;
            article{
                width: 50%;
                height: 30em;
            }
        }
    }
    #story{
        .textAndPicture{
            @include flex($dir: column);
            p{
                margin-top: 2em;
                padding-left: 0;
            }
        }
    }
    #globalContact{
        padding-top: 1rem;
        gap: 1rem;
        @include flex($dir: column-reverse);
        gap: 2em;
        height: 180vh;
        article{
            width: 30em;
        }
    }

    #sectionPartners{
        @include flex($dir: column);
    }
}