#userProfile, #editUserProfile{
    padding: 5em;
    h2{
        margin-bottom: 3em;
    }
    #userInfo{
        @include glass;
        padding: 3em;
        .flexbox{
            @include flex ($just: space-between);
            margin-top: 2em;
        }
        .user-text{
            p, label, input{
                margin-bottom: 1em;
            }
            label{
                padding-right: 2em;
            }
        }
        #user-avatar{
            height: 100px;
            width: 100px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    #user-articles{
        margin: 3em;
    }
    form{
        @include flex($dir: column);
        gap: 2em;
        label{
            padding-right: 1em;
        }
    }
}


