#userProfile, #editUserProfile{
    padding: 5em;
    h2{
        margin-bottom: 3em;
    }
    #userInfo{
        @include glass;
        padding: 3em;
        width: 40%;
        .flexbox{
            @include flex ($just: center);
            margin-top: 2em;
            #user-avatar{
                margin-bottom: 3em;
                img{
                    height: 180px;
                    width: 180px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .user-text{
            p, label, input{
                margin-bottom: 1em;
            }
            label{
                padding-right: 2em;
            }
        }
        
    }
    #user-articles{
        margin: 3em;
        .button-container{
            @include flex ($just: flex-start);
            gap: 2%;
        }
    }
    form{
        @include flex($dir: column);
        gap: 2em;
        label{
            padding-right: 1em;
        }
    }
}

#userProfile #userInfo{
    .flexbox{
        @include flex($dir:column);
        gap: 2em;
    }
}

#editUserProfile #userInfo{
    .flexbox{
        @include flex($dir:column);
        gap: 2em;
    }
    form{
        width: 100%;
        img{
            height: 100px;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }
    }
}

