{% block footer %}
        <footer>
            <div id="rainbowLine"></div>
            <nav>
                <div class="footerSections">
                    <p class="walkwayFont">ADN</p>
                    <p class="walkwayFont">Au-delà des Normes</p>
                    <div class="socialNetworks">
                        <a href="https://www.facebook.com/AuDeladesNormes" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/AuDN24" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://instagram.com/au.dela.des.normes.24" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="mailto:adn.dordogne@protonmail.com"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
                <div class="footerSections">
                    <ul>
                        <li><a href="">Mention Légales</a></li>
                        <li><a href="status.php">Statuts</a></li>
                        <li><a href="contact.php">Contact</a></li>
                        <li><a href="https://www.helloasso.com/associations/au-dela-des-normes/adhesions/adhesion" target="_blank">Adhérer</a></li>
                    </ul>
                </div>
                <div class="footerSections">
                    <p>Souscrire à notre Newsletter :</p>
                    <input type="email" placeholder="Votre e-mail">
                    <a href="" class="button-small">Envoyer</a>
                </div>
            </nav>
        </footer>
{% endblock %} 