<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ADN, Association LGBTQIA+ à Périgueux en Dordogne. Propose écoutes, soutiens, aides et moments de convivialité. Mène également des actions politiques pour les droits des personnes lesbiennes, gay, bies, trans, intersexes, non binaires, asexuelles et aromantiques">
    <meta property="og:title" content="ADN, Au Delà des Normes" />
    <link rel="alternate" hreflang="fr-FR">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>ADN, Au Delà des Normes. Association LGBTQIA+ en Dordogne</title>
</head>
<body>
    <header>
        <div class="backgroundImg">
              <!-- CAROUSEL -->
          <div class="carousel">
            <div class="carousel-item">
              <div class="slide1"></div>
            </div>
            <div class="carousel-item">
              <div class="slide2"></div>
            </div>
            <div class="carousel-item">
              <div class="slide3"></div>
            </div>
            <div class="carousel-item">
              <div class="slide4"></div>
            </div>
            <div class="carousel-item">
              <div class="slide5"></div>
            </div>
            <div class="carousel-item">
              <div class="slide6"></div>
            </div>
          </div>
          <!-- NAV BAR VERSION DESKTOP -->
          <nav id="desktopNav" class="dropdown">
            <ul>
              <li><a href="index.php" class="special-anim">accueil</a></li>
              <li><a href="about.php" class="special-anim">à propos</a></li>
              <li><a href="contact.php" class="special-anim">contact</a></li>
              <li><a href="rendez_vous.php" class="special-anim">nos rendez-vous</a></li>
              <li><a href="" class="special-anim">blog</a></li>
              <li><a href="status.php" class="special-anim">nos statuts</a></li>
              <li><a href="partners.php" class="special-anim">nos partenaires</a></li>
              <li><a href="https://www.helloasso.com/associations/au-dela-des-normes/adhesions/adhesion" class="special-anim" target="_blank">adhérer</a></li>
              <li><a href="https://www.helloasso.com/associations/au-dela-des-normes/formulaires/1" id="supportBtn" class="button" target="_blank">nous soutenir</a></li>
            </ul>
          </nav>
          <div id="menuBurger">
            <a id="link" href="#"><span id="bars"></span></a>
          </div>
          <div id="title">
            <div class="imgSize">
              <a href="index.php"><img src="{{ asset('build/images/ADN_logo_transparent.svg') }}" alt="Logo de ADN - Au Delà des Normes"></a>
            </div>
            <h1>Association LGBTQIA+ en Dordogne</h1>
            </div>
        </div>
    </header>