{% extends 'homebase.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}
    <main id="CGU">
        <h2>Conditions Générales d'utilisation</h2>
        <section>
            <h3>Accès au site</h3>
            <p>Le site ADN - Au-delà des Normes permet à l'utilisateur-ice un accès gratuit aux services suivants :</p>
            <ul>
                <li>Lecture de l'ensemble du site internet, articles de blog, calendrier</li>
                <li>Création, modification et suppression d'un compte utilisateur-ice</li>
                <li>Création et suppression de commentaires sur les articles de blog (sous réserve d'avoir créer un compte)</li>
            </ul>
        </section>
        <section>
            <h3>Collecte des données</h3>
            <p>Le site assure à l'utilisateur-ice une collecte et un traitement d'informations personnelles dans le respect de la vie privée conforme à la loi Informatique et Libertés du 6 janvier 1978 et au règlement 2016-679 du Parlement européen et du conseil du 27 avril 2016 dit "RGPD", l'utilisateur-ice dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles.</p>
            <p>Pour toute demande d'exercice de vos droits, merci de nous contacter à l'adresse e-mail suivante : Insérer ici adresse mail</p>
        </section>
        <section>
            <h3>Propriété intellectuelle</h3>
            <p>Les logos, signes ainsi que les contenus du sites (textes, photos...) font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur</p>
            <p>l'Utilisateur-ice doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Iel s'engage à une utilisation des contenus du site dans un cadre privé ou associatif. Toute utilisation à des fins commerciales et publicitaires est strictement interdite.</p>
            <p>Toute reproduction totale ou partielle de ce site par quelques procédé que ce soit, sans l'autorisation expresse de l'exploitant du site internet constituerait une contrefaçon sanctionnée par l'article L 335-2 et suivants du Code de la propriété intellectuelle.</p>
            <p>Il est rappelé conformément à l'article L 122-5 du Code de la propriété intellectuelle que l'utilisateur-ice qui reproduit, copie ou publie le contenu protégé doit citer l'auteur et sa source.</p>
        </section>
        <section>
            <h3>Responsabilité</h3>
            <p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site ADN - Au-delà des Normes ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenu responsable de l'utilisation et de l'interprétation de l'information contenue dedans.</p>
            <p>Le site ne peut être tenu responsable d'éventuels virus qui pourraient infecter l'ordinateur ou tout matériel informatique de l'internaute, suite à une utilisation, à l'accès ou au téléchargement provenant de ce site.</p>
            <p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
        </section>
        <section>
            <h3>Liens hypertextes</h3>
            <p>Des liens hypertextes sont présents sur le site. Ce dernier n'a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.</p>
        </section>
        <section>
            <h3>Cookies</h3>
            <p>Un cookie peut s'intaller automatiquement sur le logiciel de navigation de l'utilisateur-ice.</p>
            <p>Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l'ordinateur de l'utilisateur-ice par le navigateur et sont nécessaires à l'utilisation du site ADN - Au-delà des Normes. Nos cookies ne contiennent pas d'informations personnelles et ne seront pas utilisés pour identifier une personne. Le cookie contient un identifiant unique, généré aléatoirement, et de manière anonyme. Certains cookies expirent à la fin de la visite de l'utilisateur-ice, d'autres restent sur l'outil utilisé.</p>
            <p>L'information contenue dans les cookies du site ADN - Au-delà des Normes est utilisée pour son bon fonctionnement.</p>
            <p>Néanmoins, ces cookies peuvent être désactivés par l'intermédiaire des paramètres figurant au sein du navigateur de l'utilisateur-ice.</p>
        </section>
        <section>
            <h3>Publications</h3>
            <p>Le site permet aux utilisateur-ices ayant un compte de publier des commentaires et aux membres du Conseil d'administration de l'association de publier des articles de blog</p>
            <p>Dans ses publications, l'utilisateur-ice s'engage à respecter les règles de bonne conduite sur Internet et la législation en vigueur.</p>
            <p>Le site se réserve le droit d'exercer une modération sur les publications et se réserve le droit de refuser leur mise en ligne, sans aucun préavis ou notifications.</p>
            <p>Tout contenu mis en ligne par l'utilisateur-ice est de sa seule responsabilité. L'utilisateur-ice s'engage à ne pas mettre en ligne des contenus pouvant porter atteinte aux intérêts de tierces personnes. Toute action en justice par un tiers lésé contre le site sera de la responsabilité exclusive de l'utilisateur-ice.</p>
        </section>
        <section>
            <h3>Droit applicable et juridiction</h3>
            <p>Les présentes CGU (Condition Générales d'Utilisation) sont régies par le droit français.</p>
            <p>En cas de contestation sur la validité, l'interprétation et/ou l'exécution des présentes CGU, les tribunaux de Périgueux seront seuls compétents pour connaître du litige.</p>
        </section>
        <section>
            <p>Pour toute question relative à l'application des présentes CGU, vous pouvez joindre l'éditeur aux coordonnées inscrites dans les <a href="/legal_mentions">mentions légales</a></p>
        </section>
    </main>
{% endblock %}
