<div id="user-avatar">
{% for avatar in avatars %}
    {% if user.avatar %}
        <img src={{ vich_uploader_asset(avatar) }} alt={{avatar.user}}>
    {% else %}
        <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
    {% endif %}
{% endfor %}
</div>