<div id="user-avatar">
    {% if user.avatar is empty %}
        <img src={{ asset('images/avatar_generic.png') }} alt="Avatar générique">
    {% else %}
        <img src={{ vich_uploader_asset(avatar) }} alt={{avatar.user}}>
    {% endif %}
</div>