{% extends 'base.html.twig' %}

{% block title %}Articles de blog{% endblock %}

{% block body %}
    <section id="articlesList">
        {% for article in articles %}
            <div class="container">
                <h2><a href="{{ path('app_article_single', {id: article.id})}}">{{ article.title }}</a></h2>
                <p>{{ article.content|raw }}</p>
            </div>
        {% endfor %}
        {{ knp_pagination_render(articles, 'pagination.html.twig') }}
    </section>
{% endblock %}
