{% extends 'base.html.twig' %}

{% block title %}Articles de blog{% endblock %}

{% block body %}
    <section id="articlesList">
            {% for article in articles %}
                <div class="container">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content|raw }}</p>
                    <div class="button-container">
                        <a class="button" href="{{ path('app_article_single', {id: article.id})}}">Commenter</a>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <p>Il n'y a pas (encore) d'articles publiés</p>
                </div>
            {% endfor %}
        {{ knp_pagination_render(articles, 'pagination.html.twig') }}
    </section>
{% endblock %}
