{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<section id="userProfile">
    <h1>{{ user.username }}</h1>
    <div id="user-avatar">
        <img src="" alt="">
    </div>
    {% if {roles : 'ROLE_ADMIN'} %}
        {% for article in articles%}
            <div>
                <p>{{ article.title }}</p>
            </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}
